{% extends "layout.html" %}
{% block title %}Projects - My Portfolio{% endblock %}
{% block content %}
    <section>
        <h2>My Projects</h2>
        <div class="projects">
            <div class="project-card">
                <h3>Project 1</h3>
                <p>This is a description of Project 1 with useful features.</p>
                <p><strong>Tech Stack:</strong>  My Portfolio website</p>
                <a href="https://github.com/Adityakumarnayak3108/Coffee-and-Snacks-Project" target="_blank" class="btn">GitHub</a>
            </div>
            <div class="project-card">
                <h3>Project 2</h3>
                <p>This is a description of Project 2.</p>
                <p><strong>Tech Stack:</strong> Coffee and Snacks Website</p>
                <a href="https://github.com/Adityakumarnayak3108/Portfolio" target="_blank" class="btn">GitHub</a>
            </div>
        </div>
    </section>
{% endblock %}
